footer {
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  justify-content: center;
}

footer a {
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

footer a:hover {
  background-color: white;
  color: black;
}